# MongoDB Connection URL
# Example: mongodb://localhost:27017
# Or for MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net
MONGODB_URL=your_mongodb_connection_string_here

# Database Name
# This will be the name of the database used by the application
# For tests, a database named "test-{DB_NAME}" will be used
DB_NAME=concepthub
